*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vh;
    background-color: rgba(240,242,245,255);
    position: relative;
    
}

.loginform{

    height: 330px;
    width: 350px;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 115%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;

}






.form{
  width: 320px;
  height: 40px;
  padding-left: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  color: rgb(85, 82, 82);
  outline: none;
  text-align: start;
  border-radius: 10px;
  border: 2px solid rgb(196, 191, 191);

  
}

.form:focus{

    border-color: #1877f2;
}



.emailpart{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    outline-color: red;
  
    
}

.passwordpart{
    margin-bottom: 16px;
    margin-left: 15px;
}
.loginpart{
    width: 320px;
    height: 40px;
    background-color: #1877f2;
    color: white;
    outline: none;
    font-size: 20px;
    margin-left: 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 15px;
    border:none;

   
   
    
}


 


.forgetpass{
 
    
   
    text-align: center;

    

}

.forgetpasssub{
    color:#1877f2 ;
    text-decoration: none;
}

.line{
    border-bottom: 1px solid rgb(209, 207, 207);
    width: 310px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.createnewpart1{

    width: 200px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #42b72a;
    color: white;
    border: none;
    
}

.createnew{

    text-align: center;

}

.forgetpasssub:hover{
    text-decoration: underline;
}

.facebook{
    position: absolute;
    left: 37%;
    font-size: 65px;
    font-weight: 700;
    color:#0866FF ;
    top: 21%;
}

.connect{
    position: absolute;
    left : 37%;
    top: 32% ;
    font-size: 27px;

}

.pass{
    display: flex;
}

@media only screen and (max-width: 768px) {
 
    
    
    .facebook{
        position: absolute;
        left: 7%;
        font-size: 53px;
        font-weight: 700;
        
        top: 21%;
    }

    .connect{
        position: absolute;
        left : 7%;
        top: 32% ;
        font-size: 15px;
    
    }

    .loginform{

        height: 330px;
        width: 350px;
        background-color: white;
        position: absolute;
        top: 15%;
        left: 45%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 13px;
    
    }
}

